body {
    background-color: rgb(177, 177, 177);
}



h1 {
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 0px;
}


input {
    margin-bottom: 20px;
}



.calculators {
    width: 200px;
    height: 325px;
    padding: 20px;
    align-items: stretch;
    background-color: white;
    border-width: 20px;
    border-color: black;
}


.forms {
    display: flex;
    flex-direction: column;
}



